/* line 3, ../sass/style.scss */
body {
  background-color: #121212;
  color: #ffffff;
  font-size: 1.7rem;
  letter-spacing: 3px;
}

/* line 7, ../sass/style.scss */
a {
  color: white;
  text-decoration: underline;
}

/* line 8, ../sass/style.scss */
a:visited {
  color: white;
  text-decoration: underline;
}

/* line 9, ../sass/style.scss */
a:hover {
  color: white;
  text-decoration: underline;
}

/* line 10, ../sass/style.scss */
a:active {
  color: white;
  text-decoration: underline;
}

/* line 12, ../sass/style.scss */
#wrapper {
  overflow-x: hidden;
}

/* line 14, ../sass/style.scss */
.hover:hover {
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* line 17, ../sass/style.scss */
  body {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  /* line 20, ../sass/style.scss */
  h1 {
    font-size: 2.5rem;
  }

  /* line 21, ../sass/style.scss */
  h2 {
    font-size: 2rem;
  }
}
