<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <title>{{head.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{head.description}}">
    <meta name="author" content="{{head.author}}">
    <meta property="og:title" content="{{head.title}}" />
    <meta property="og:description" content="{{head.description}}" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://127.0.0.1/"/>
    <meta property="og:image" content="static/imgs/Banner.png" />
    <meta property="og:site_name" content="{{head.title}}"/>
    <link rel="shortcut icon" href="static/imgs/icon.png" />
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="static/css/stylesheets/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/stylesheets/style.css?version=00000">
</head>

<body>

    <!-- Jquery -->
    <script src="static/js/libs/jquery.js"></script>
    <script src="static/js/libs/js.cookie.js"></script>
    <!-- Materialize js -->
    <script src="static/js/libs/materialize.min.js"></script>
    <!-- Vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>

    <script src="static/js/util.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>
