$window-height: 100vh;
$placeholder-color: grey;

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: $placeholder-color;
}
::-moz-placeholder { /* Firefox 19+ */
color: $placeholder-color;
}
:-ms-input-placeholder { /* IE 10+ */
color: $placeholder-color;
}
:-moz-placeholder { /* Firefox 18- */
color: $placeholder-color;
}

/* 左邊區塊 */
#main-left {
    height: $window-height;
    background-color: orange;
    color: black;

    * {
        color: black;
    }

    #opass-title {
        color: white;
        padding-bottom: 50px;
    }

    label {
        color: grey;
        font-size: 16px;
    }

    label.input-text-title {
        font-size: 20px;
    }

    /* radio button的標題 */
    .radio-title {
        color: black;
    }

    input[type="checkbox"] + label {
        color: black;
    }
}

/* 左邊區塊的表單的第一層div */
#main-left form > div {
    margin-bottom: 20px;
}

/* 選擇是否為多位教師的p區塊 */
#p-multi-teacher {
    margin: -35px 0px 50px 0px;
}

/* 表單中的必選修 */
#form-must-or-choice > * {
    margin: 0px;
}

/* 選擇是否為多位教師的p區塊，這是位於表單最下面的其他選項 */
#p-other-is-multi-teacher {
    margin: 0px;
}

/* 右邊區塊 */
#main-right {
    height: $window-height;
    background-color: white;
    color: black;

    /* 右邊區塊內的所有label */
    label {
        color: black;
    }
}