

body{
  background-color:#121212; color: #ffffff; font-size: 1.7rem; letter-spacing: 3px;
}

a{color: white; text-decoration: underline;}
a:visited{color: white; text-decoration: underline;}
a:hover{color: white; text-decoration: underline;}
a:active{color: white; text-decoration: underline;}

#wrapper{overflow-x: hidden;}

.hover:hover{ cursor: pointer; font-weight: bold;}

@media only screen and (max-width: 768px){
  body{
    font-size: 1.4rem; letter-spacing: 2px;
  }
  h1{ font-size: 2.5rem;}
  h2{ font-size: 2rem;}
}
